li {
  list-style: none;
  display: block;
  cursor: pointer;
}

.B_flexbox-container {
  display: flex;
  height: 100vh;
}

.B_SideBarSec {
  background-color: #f7e462;
  padding-right: 2vw;
  padding-top: 10vw;
}

.B_filterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid gray;
  width: 6vw;
  height: 3vw;
  margin-bottom: 3vw;
  color: gray;
  font-size: 1.1vw;
  background-color: rgb(253, 253, 0);
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px lightgray;
}

.B_filterBtn:hover {
  border: 1.5px solid yellow;
}

.B_RoomContaniner {
  display: flex;
  flex: 9;
  flex-wrap: wrap;
  margin-left: 6vw;
  margin-top: 3vw;

  overflow: scroll;
}

.B_RoomCard {
  display: flex;
  background: #fff;
  margin: 2vw;
  border: 3px solid yellow;
  border-radius: 50px;
  overflow-x: auto;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 16vw;
  height: 27vw;
}

.B_RoomCard-image {
  max-width: 100%;
  flex: 2;
  border: 1px solid black;
}

.B_RoomCard-Status {
  width: 100%;
  flex: 2;
  border: 1px solid black;
}

.B_RommCard-info {
  width: 100%;
  flex: 2;
  border: 1px solid black;
}

.B_RoomCard-writer-createdAt {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  flex: 2;
  border: 1px solid black;
}

.B_RoomCard-title {
  font-size: 20px;
}

.B_RoomCard-stack {
  border: 3px solid yellow;
  text-align: center;
  border-radius: 30px;
  width: 3.5vw;
  margin: 2%;
}

.B_footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font: bold;
  font-size: 15px;
  padding: 25px;
}

/* -------------------------------- */

@media (max-width: 1200px) {
  .B_RoomContaniner {
    display: block;
    margin-left: 12vw;
  }

  .B_RoomCard {
    width: 50vw;
  }

  .B_RoomCard-stack {
    width: 10vw;
  }
}
