li {
  list-style: none;
  display: block;
  cursor: pointer;
}

.B_flexbox-container {
  display: flex;
  height: 100vh;
}

.B_SideBarSec {
  background-color: #f7e462;
  padding-right: 2vw;
  padding-top: 15vw;
}

.B_filterBtn {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1.5px solid gray;
  width: 6vw;
  height: 3vw;
  margin-bottom: 3vw;
  color: gray;
  font-size: 1.1vw;
  background: #f3dd4c;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px lightgray;
}

.B_filterBtn:hover {
  background: rgb(116, 88, 88);
}

.B_RoomContaniner {
  display: flex;
  flex: 9;
  flex-wrap: wrap;
  margin-left: 1vw;
  margin-top: 3vw;

  overflow: scroll;
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.B_RoomContaniner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.B_RoomCard {
  display: flex;
  background: #fff;
  margin: 2vw;
  border: 3px solid rgb(252, 252, 196);
  border-radius: 34px;
  overflow-x: auto;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 16.5vw;
  height: 23vw;
  padding: 0.5vw;
}

.B_RoomCard:hover {
  border: 3px solid yellow;
}

.B_RoomCard-image {
  max-width: 93%;
  flex: 2;
}

.B_RoomCard-Status {
  flex: 0.5;
  border: 1.8px solid lightgray;
  border-radius: 10px;
  color: gray;
  margin-top: 1.1vw;
  padding: 1% 5%;
  font-size: 0.9vw;
}

.B_RommCard-info {
  width: 100%;
  flex: 2;
}

.B_RoomCard-category {
  margin-top: 6%;
  font-size: 1.1vw;
  color: rgb(109, 107, 107);
}

.B_RoomCard-writer-createdAt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 87%;
  flex: 2;
  font-size: 0.75vw;
  color: rgb(73, 72, 72);
}

.B_RoomCard-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(53, 52, 52);
  padding: 3% 13%;
}

.B_RoomCard-stack {
  border: 3px solid yellow;
  text-align: center;
  border-radius: 30px;
  width: 3.5vw;
  margin: 2%;
}

.B_footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font: bold;
  font-size: 15px;
  padding: 25px;
}

/* -------------------------------- */

@media (max-width: 1200px) {
  .B_RoomContaniner {
    margin-left: 12vw;
  }

  .B_RoomCard {
    width: 50vw;
    height: 67vw;
  }

  .B_RoomCard-stack {
    width: 10vw;
  }

  .B_RoomCard-image {
    max-width: 100%;
  }
}
