.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-wrapper .carousel-item {
  display: flex;
  justify-content: center;
  position: absolute;

  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.carousel-item img {
  width: 80%;
}

.carousel-wrapper .carousel-item .arrow {
  display: flex;
  align-items: center;
  position: absolute;

  width: 50px;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 50% 50%/20px no-repeat;
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
  margin-left: 5%;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
  margin-right: 5%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.carousel-wrapper .carousel-item.light {
  color: white;
}
.carousel-wrapper .carousel-item.light .arrow {
  background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 50% 50%/20px
    no-repeat;
}
@media (max-width: 480px) {
  .carousel-wrapper .carousel-item .arrow,
  .carousel-wrapper .carousel-item.light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}
.carousel-wrapper [id^="target-item"] {
  display: none;
}
.carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}
.carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.carousel-wrapper #target-item-2:target ~ .item-2,
.carousel-wrapper #target-item-3:target ~ .item-3,
.carousel-wrapper #target-item-4:target ~ .item-4,
.carousel-wrapper #target-item-5:target ~ .item-5,
.carousel-wrapper #target-item-6:target ~ .item-6 {
  z-index: 3;
  opacity: 1;
}
