/* .Journal_box {
  border-radius: 15px;
  height: auto;
  border: 2px solid black;
} */

.HisInfo_header {
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
}

.DangerBtn {
  width: 15%;
  height: 50%;
  margin-top: 1.4vw;
  color: #d74149;
  font-size: 1vw;
  font-weight: 800;
  border: 1px solid #d9dbdb;
  border-radius: 10px;
  background: #fafbfc;
}

.HisList_sendBtn {
  width: 16.6%;
  height: 5%;
  border-radius: 10px;
  border: 1px solid #d9dbdb;
  background: #fafbfc;
  margin-top: 2%;
  margin-left: 68.42%;
  margin-bottom: 2%;
}

.His_submitForm {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  flex: 1;
}

.His_submitForm textarea {
  flex: 9;
  padding-left: 1%;
  padding-top: 0.5%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.His_submit {
  flex: 1;
}

.His_submit button {
  width: 116px;
  height: 126px;
  background-color: #f7e462;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.His_submit button:hover {
  background-color: black;
  color: white;
}

.His_submit_p {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.His_JournalForm {
  border-radius: 25px;
  margin-left: 11.9%;
  margin-right: 15.5%;
  margin-top: 0.4%;
  margin-bottom: 1.6%;
  padding: 0px 20px 21px;

  border: 3px solid black;
  list-style-type: none;
}

.Journal_DelBtn {
  position: relative;
  right: 0.7vw;
  bottom: -0.1vw;
  border: none;
  background-color: #fd5e48;
  color: rgb(12, 12, 12);
  border-radius: 20px;
  padding: 1.5%;
}

.Retro_list {
  flex: 7;
  display: table-column;
  overflow: scroll;

  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Retro_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* ----------------------------- */

.His_closeJournalForm {
  margin-left: 3.5%;
  margin-top: 20.4%;
}
