.mypageContainer {
  display: flex;
  width: 100%;
  height: 690px;
  border: 1px solid black;
}

/* ------------------------------------------- */

.mypageContainer_blankSec {
  flex: 1;
  border: 1px solid black;
}

/* ------------------------------------------- */

.mypageContainer_profileSec {
  display: flex;
  flex-direction: column;
  flex: 4;
  background: #f7e462;
  border: 1px solid black;
}

.profileSec_profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  border: 1px solid black;
}

.profileSec_profileImg img {
  border-radius: 200px;
}

.profileSec_name_mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: 1px solid black;
}

.profileSec_name_mood p {
  margin: 2%;
}

.profileSec_username {
  font-size: 30px;
  font-weight: 700;
}

.profileSec_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: 1px solid black;
}

.profileSec_btns button {
  margin: 3%;
  width: 20%;
  height: 40%;
  border: none;
}

.profileSec_stacks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid black;
}

.profileSec_stacks img {
  margin: 2%;
}

/* ------------------------------------------- */

.mypageContainer_boardListSec {
  display: flex;
  flex-direction: column;
  flex: 6;
  border: 1px solid black;
}

.boardListSec_openboardWrap {
  flex: 3;
  border: 1px solid black;
}

.boardListSec_closeboardWrap {
  flex: 3;
  border: 1px solid black;
}
