.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  list-style: none;

  /* background-color: #ffea00; */
}

.Icon {
  display: inline-flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 3%;
}

.navBtnOpt {
  display: inline-flex;
  justify-content: space-between;
  margin: 4%;
}

.navbar_home {
  flex: 9;
}

.navbar_homeImgYel {
  max-width: 4%;
  margin-left: 3.2%;
  margin-top: 1%;
}

.startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(94, 93, 93);
  height: 2vw;
  width: 5vw;
  border-radius: 10px;
  margin-right: 27px;
  margin-top: 15%;
  font-size: 20px;
  font-weight: 400;
  color: rgb(80, 78, 78);
  cursor: pointer;
}
.startBtn:hover {
  background-color: rgb(255, 236, 66);
}
.navRightImg {
  max-width: 30%;
  margin-left: 45%;
  margin-top: 13%;
}

.navbar_board {
  flex: 1;
}

.navbar_mypage {
  flex: 1;
}

/* ---------------LOGO-------------- */

.StackLogo {
  display: inline;
  /* float: left; */
  width: 5px;
  height: 5px;
}

.logo {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 6px;
  margin: 0.5%;
}
.logo:hover {
  border: 2px solid #391b1b;
}

input[type="checkbox"] {
  display: none;
}

/* ---------------Login Modal-------------- */

.login_logo {
  width: 100%;
}
