.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  list-style: none;
  /* background-color: #ffea00; */
  border: 1px solid #e9e9e9;
}

.navbar_home {
  flex: 9;
}

.navbar_board {
  flex: 1;
}

.navbar_mypage {
  flex: 1;
}

.StackLogo {
  /* display: inline; */
  float: left;
  width: auto;
  height: 50px;
}
