.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  list-style: none;

  /* background-color: #ffea00; */
}

.Icon {
  display: inline-flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 3%;
}

.navBtnOpt {
  display: flex;
  flex-direction: column;
}

.navBtnOpt button {
  margin-top: 3%;
  height: 50px;
  border-radius: 30px;
  background: white;
  font-size: 16px;
  font-weight: 800;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navBtnOpt_logoutBtn {
  border: 2px solid #f44336;
}

.navBtnOpt_logoutBtn:hover {
  background-color: #f44336;
  color: white;
}

.navBtnOpt_backBtn {
  border: 2px solid #f8e35d;
}

.navBtnOpt_backBtn:hover {
  background-color: #f8e35d;
  color: white;
}

.navbar_home {
  flex: 9;
}

.navbar_homeImgYel {
  max-width: 4%;
  margin-left: 3.2%;
  margin-top: 1%;
}

.startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(94, 93, 93);
  height: 2vw;
  width: 5vw;
  border-radius: 10px;
  margin-right: 27px;
  margin-top: 15%;
  font-size: 20px;
  font-weight: 400;
  color: rgb(80, 78, 78);
  cursor: pointer;
}
.startBtn:hover {
  background-color: rgb(255, 236, 66);
}
.navRightImg {
  max-width: 30%;
  margin-left: 45%;
  margin-top: 13%;
}

.navbar_board {
  flex: 1;
}

.navbar_mypage {
  flex: 1;
}

/* ------------------------------- */

.modal_subtitle {
  text-align: center;
  color: #f8e235;
}

/* ---------------LOGO-------------- */

.StackLogo {
  display: inline;
  /* float: left; */
  width: 5px;
  height: 5px;
}

.logo {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 6px;
  margin: 0.5%;
}
.logo:hover {
  border: 2px solid #391b1b;
}

input[type="checkbox"] {
  display: none;
}

/* ---------------Login Modal-------------- */

.login_logo {
  display: flex;
  flex-direction: column;
}

.login_google {
  cursor: pointer;
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 5%;
}

.login_google img {
  flex: 1;
  width: 20%;
  height: 20%;
}

.login_google_phrase {
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* -------------------------- */

.login_github {
  cursor: pointer;
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 5%;
}

.login_github img {
  flex: 1;
  border-radius: 30px;
  width: 20%;

  height: 20%;
}

.login_github_phrase {
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* -------------------------- */

.login_backBtn {
  cursor: pointer;
  height: 50px;
  border: 2px solid #f8e35d;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 800;
  background: white;
  transition-duration: 0.4s;
}

.login_backBtn:hover {
  background: #f8e35d;
  color: white;
}
